subscription_id        = "eea9ffc5-6c64-4dab-b152-3d2f49a73ff1"
resource_group_name    = "rg-job-agent"
location               = "eastus"
openai_account_name    = "job-agent-ai"
openai_deployment_name = "gpt-5.4-mini"
openai_model_name      = "gpt-5.4-mini"
openai_model_version   = "2026-03-17"
openai_capacity        = 10
